<?xml version="1.0"?>
<config>
  <modules>
    <Plumtree_Zipcode>
      <version>0.1.0</version>
    </Plumtree_Zipcode>
  </modules>
  <frontend>
    <routers>
      <zipcode>
        <use>standard</use>
          <args>
            <module>Plumtree_Zipcode</module>
            <frontName>zipcode</frontName>
          </args>
      </zipcode>
    </routers>
		<layout>
		  <updates>
			<zipcode>
			  <file>zipcode.xml</file>
			</zipcode>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <zipcode>
        <class>Plumtree_Zipcode_Helper</class>
      </zipcode>
    </helpers>
	<blocks>
	  <zipcode>
		<class>Plumtree_Zipcode_Block</class>
	  </zipcode>
	</blocks>
  </global>
  <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zipcode_list>
                                            <title>MageMarketplace Quickorder</title>		
                                        </zipcode_list>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
  
</config> 