<?xml version="1.0"?>
<config>
    <modules>
        <Plumtree_Scanproducts>
            <version>0.1.0</version>
        </Plumtree_Scanproducts>
    </modules>
    <frontend>
        <routers>
            <scanproducts>
                <use>standard</use>
                <args>
                    <module>Plumtree_Scanproducts</module>
                    <frontName>scanproducts</frontName>
                </args>
            </scanproducts>
        </routers>
        <layout>
            <updates>
                <scanproducts>
                    <file>scanproducts.xml</file>
                </scanproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<scanproducts>
				<use>admin</use>
				<args>
					<module>Plumtree_Scanproducts</module>
					<frontName>scanproducts</frontName>
				</args>
			</scanproducts>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<scanproducts module="scanproducts">
				<title>Scanproducts</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="scanproducts">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>scanproducts/adminhtml_scanproducts</action>
					</items>
				</children>
			</scanproducts>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Plumtree_Scanproducts>
							<title>Scanproducts Module</title>
							<sort_order>10</sort_order>
						</Plumtree_Scanproducts>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<scanproducts>
					<file>scanproducts.xml</file>
				</scanproducts>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <scanproducts>
                <class>Plumtree_Scanproducts_Model</class>
                <resourceModel>scanproducts_mysql4</resourceModel>
            </scanproducts>
            <scanproducts_mysql4>
                <class>Plumtree_Scanproducts_Model_Mysql4</class>
                <entities>
                    <scanproducts>
                        <table>scanproducts</table>
                    </scanproducts>
                </entities>
            </scanproducts_mysql4>
        </models>
        <resources>
            <scanproducts_setup>
                <setup>
                    <module>Plumtree_Scanproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </scanproducts_setup>
            <scanproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </scanproducts_write>
            <scanproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </scanproducts_read>
        </resources>
        <blocks>
            <scanproducts>
                <class>Plumtree_Scanproducts_Block</class>
            </scanproducts>
        </blocks>
        <helpers>
            <scanproducts>
                <class>Plumtree_Scanproducts_Helper</class>
            </scanproducts>
        </helpers>
    </global>
</config>